.charts {
    font-family: Tahoma, Helvetica, sans-serif;
    margin: 2rem 0 0 0;
    @media only screen and (min-width: 860px) {
        margin: 0 0 0 var(--desktop-spacing);
    }

    h2 {
        font-size: 1rem;
    }

    .chart {
        ol {
            padding: var(--mobile-spacing);
            background-color: var(--card-bgcolor);
            box-shadow: 0 2px 0.2px var(--card-border-color);
            margin-bottom: var(--mobile-spacing);
            @media only screen and (min-width: 860px) {
                padding: var(--desktop-spacing);
                margin-bottom: var(--desktop-spacing);
            }

            list-style: none;
            max-width: auto;
            li {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: var(--mobile-spacing) 0;
                @media only screen and (min-width: 860px) {
                    padding: var(--desktop-spacing) 0;
                }

                small {
                    color: var(--meta-color);
                    display: flex;
                    justify-content: space-between;
                    > :first-child {
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
