.charts {
    font-family: Tahoma, Helvetica, sans-serif;
    margin: 2rem 0 var(--mobile-spacing) 0;
    @media only screen and (min-width: 860px) {
        margin-bottom: var(--desktop-spacing);
    }

    @media only screen and (min-width: 860px) {
        margin: 0 0 0 var(--desktop-spacing);
    }

    h2 {
        font-size: 1rem;
    }

    .negative {
        opacity: 0.1;
        &:hover {
            opacity: 1;
        }
    }

    .chart {
        ol {
            background-color: var(--card-bgcolor);
            box-shadow: 0 2px 0.2px var(--card-border-color);
            padding: 0;
            margin: 0;
            list-style: none;
            max-width: auto;
            li {
                padding: var(--mobile-spacing);
                @media only screen and (min-width: 860px) {
                    padding: var(--desktop-spacing);
                }

                &.nav {
                    &:first-child {
                        border-bottom: 1px solid var(--list-border-color);
                    }
                    &:last-child {
                        border-top: 1px solid var(--list-border-color);
                    }
                    &[hidden] {
                        border: none;
                    }
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    a {
                        padding: var(--mobile-spacing);
                        @media only screen and (min-width: 860px) {
                            padding: var(--desktop-spacing);
                        }

                        &:first-child {
                            &:hover {
                                &:after {
                                    content: ' prev';
                                }
                            }
                        }

                        &:last-child {
                            &:hover {
                                &:before {
                                    content: 'next ';
                                }
                            }
                        }

                        user-select: none;
                        flex: 1 1 auto;
                        &:last-child {
                            text-align: right;
                        }
                        cursor: pointer;
                    }
                }

                > a div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                small {
                    color: var(--meta-color);
                    display: flex;
                    justify-content: space-between;
                    > :first-child {
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
