.circles {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-width: 100vw;
}

.circles button {
    white-space: nowrap;
}

.circles td,
.circles th {
    border: 1px solid #ddd;
    padding: 8px;
}

.circles input {
    max-width: 50px;
}

.circles tr:nth-child(even) {
    background-color: #f2f2f2;
}

.circles tr:hover {
    background-color: #ddd;
}

.circles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

.centered {
    text-align: center;
}

@media only screen and (min-width: 860px) {
    .circles input {
        max-width: auto;
    }
}
