.comment {
    font-family: Tahoma, Helvetica, sans-serif;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.indent1 {
    margin-left: 1rem;
}
.indent2 {
    margin-left: 2rem;
}
.indent3 {
    margin-left: 3rem;
}
.indent4 {
    margin-left: 4rem;
}
.indent5 {
    margin-left: 5rem;
}

.comment.highlight {
    animation-name: highlight;
    animation-duration: 4s;
}

.comment header {
    display: flex;
    justify-content: space-between;
}

.comment footer {
    display: flex;
    justify-content: space-between;
}
.comment footer:not(:last-child) {
    margin-bottom: 1rem;
}

.collapser {
    cursor: pointer;
    user-select: none;
}

.content {
    display: flex;
}

.content figure {
    flex: 0 0 50px;
    overflow: hidden;
    margin: 1rem 1rem 0 0;
}
.content figure img {
    width: 100%;
}

.content figure figcaption {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content section {
    flex: 1 1 auto;
}
.content section h2 {
    font-size: 1rem;
}

.removeButton {
    cursor: pointer;
}

.replyToggle {
    cursor: pointer;
    user-select: none;
}

@keyframes highlight {
    from {
        background-color: rgba(0, 255, 0, 0.3);
    }
    to {
        background-color: rgba(0, 255, 0, 0);
    }
}
