.commentsScore {
    user-select: none;
}

.commentsScore a {
    cursor: pointer;
}

.commentScore,
.commentScoreButton {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

@media only screen and (min-width: 860px) {
    .commentScore,
    .commentScoreButton {
        margin: 1rem 0;
    }
}
