.comments {
    font-family: tahoma, Arial, sans-serif;
}

.comments a {
    color: black;
}

.comments a:hover {
    text-decoration: underline;
}

.comments h2 {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.comments h2 a {
    text-decoration: none;
}

.loginContainer {
    margin: 0.5rem 0;
    font-family: tahoma, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.loginContainer h2 {
    display: flex;
    justify-content: space-between;
}

.adminLinks {
    margin: 0.5rem 0;
}

.adminLinks a {
    text-decoration: none;
    margin: 0 0.5rem 0 0;
    white-space: nowrap;
}

.circle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle label {
    font-size: 1rem;
    font-weight: normal;
}

.circle select {
    flex: 1 1 auto;
}

@media only screen and (min-width: 860px) {
    .loginContainer {
        margin: 1rem 0;
    }

    .adminLinks {
        margin: 1rem 0;
    }

    .adminLinks a {
        margin: 0 1rem 0 0;
    }
}
