.comment {
    font-family: Tahoma, Helvetica, sans-serif;
    padding: var(--mobile-spacing);
    background-color: var(--card-bgcolor);
    box-shadow: 0 2px 0.2px var(--card-border-color);
    margin-bottom: var(--mobile-spacing);
    @media only screen and (min-width: 860px) {
        padding: var(--desktop-spacing);
        margin-bottom: var(--desktop-spacing);
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    footer {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: var(--mobile-spacing);
            @media only screen and (min-width: 860px) {
                margin-bottom: var(--desktop-spacing);
            }
        }
    }
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: var(--mobile-spacing);
    @media only screen and (min-width: 860px) {
        margin-bottom: var(--desktop-spacing);
    }
}

.meta *:last-child {
    padding-right: 0.1rem;
}

.indent1 {
    margin-left: var(--mobile-spacing);
    @media only screen and (min-width: 860px) {
        margin-left: var(--desktop-spacing);
    }
}
.indent2 {
    margin-left: calc(var(--mobile-spacing) * 2);
    @media only screen and (min-width: 860px) {
        margin-left: calc(var(--desktop-spacing) * 2);
    }
}
.indent3 {
    margin-left: calc(var(--mobile-spacing) * 3);
    @media only screen and (min-width: 860px) {
        margin-left: calc(var(--desktop-spacing) * 3);
    }
}
.indent4 {
    margin-left: calc(var(--mobile-spacing) * 3);
    @media only screen and (min-width: 860px) {
        margin-left: calc(var(--desktop-spacing) * 4);
    }
}
.indent5 {
    margin-left: calc(var(--mobile-spacing) * 3);
    @media only screen and (min-width: 860px) {
        margin-left: calc(var(--desktop-spacing) * 5);
    }
}

.comment.highlight {
    animation-name: highlight;
    animation-duration: 4s;
}

.collapser {
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
    color: var(--meta-color);
}

.content {
    display: flex;
    margin: var(--mobile-spacing) 0;
    overflow: auto;

    @media only screen and (min-width: 860px) {
        margin: var(--desktop-spacing) 0;
    }

    figure {
        flex: 0 0 50px;
        overflow: hidden;
        margin: 0;
        margin-right: var(--desktop-spacing);
        img {
            width: 100%;
        }
        figcaption {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    section {
        flex: 1 1 auto;
        max-height: 33vh;
        h2 {
            font-size: 1rem;
            margin: 0;
        }
    }
}

.diffButton,
.removeButton,
.editToggle,
.replyToggle {
    cursor: pointer;
    user-select: none;
    margin: 0 0 0 1rem;
}

@keyframes highlight {
    from {
        background-color: rgba(0, 255, 0, 0.3);
    }
    to {
        background-color: rgba(0, 255, 0, 0);
    }
}
