.commentsScore {
    user-select: none;

    a {
        cursor: pointer;
    }
}

.commentScore,
.commentScoreButton {
    padding: var(--mobile-spacing);
    margin: var(--mobile-spacing) 0;
    @media only screen and (min-width: 860px) {
        margin: var(--desktop-spacing) 0;
    }
}
