.commentForm {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.commentForm textarea {
    flex: 1 1 auto;
    height: 40px;
    padding: var(--mobile-spacing);
}

.commentForm button {
    cursor: pointer;
    padding: var(--mobile-spacing);
}

@media only screen and (min-width: 860px) {
    .commentForm textarea {
        height: 75px;
        padding: var(--desktop-spacing);
    }
}

.notificationEmails {
    cursor: pointer;
    padding: 1rem 0;
}
