:root {
    --meta-color: #222;
    --card-bgcolor: rgba(0, 0, 0, 0.04);
    --card-border-color: rgba(0, 0, 0, 0.1);
    --list-border-color: rgba(0, 0, 0, 0.1);
    --mobile-spacing: 0.5rem;
    --desktop-spacing: 1rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.05);
}

a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:active {
        text-decoration: underline;
    }
}

.blink {
    animation: 1s linear infinite condemned_blink_effect;
}

.comments-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 860px) {
        flex-direction: row;
    }
    > * {
        flex: 1 1 auto;
        &:last-child {
            @media screen and (min-width: 860px) {
                flex: 0 0 25vw;
            }
            overflow: hidden;
        }
    }
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
